li {
  list-style: none;
  margin-bottom: 50px;
}
ul {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 190px;
  border: 2px solid black;
}

input[type="text"] {
  text-align: center;
}

.rate {
  /* font-size: 18px;
  font-weight: bold; */
}
p {
  /* font-size: 18px;
  font-weight: bold; */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.textField {
  width: 100%;
  height: 150px;
  margin-top: 0px !important;
}

img {
  position: absolute;
  right: 0px;
  top: -47px;
  border: 1px solid black;
}

input[type="text"] {
  text-align: left !important;
}

.MuiFormControl-root-30 {
  height: 200px;
}
